# Python
*.pyc
__pycache__/

# Virtual environments
venv/
env/
ilearning_env/

# Django
*.sqlite3
db.sqlite3
*.py[cod]
staticfiles/
media/

# Environment
.env

# VSCode or PyCharm (optional)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Django/Migrations
**/migrations/
