{% extends "base.html" %}

{% block content %}
  <h2>Welcome {{ request.user.first_name }} to your Institute Dashboard</h2>

  <p><strong>Institute Name:</strong> {{ profile.name }}</p>
  <p><strong>Address:</strong> {{ profile.address }}</p>

  <hr>

<h3>Registered Students</h3>
<ul>
  {% for student in students %}
    <li>
      {{ student.user.username }}
      (
      {% if student.institute %}
        {{ student.institute.name }}
      {% else %}
        No Institute
      {% endif %}
      )
    </li>
  {% empty %}
    <li>No students registered yet.</li>
  {% endfor %}
</ul>

<h3>Registered Teachers</h3>
<ul>
  {% for teacher in teachers %}
    <li>
      {{ teacher.user.username }} (
      {% if teacher.is_private %}
        Private
      {% else %}
        Institute
      {% endif %}
      )
    </li>
  {% empty %}
    <li>No teachers registered yet.</li>
  {% endfor %}
  </ul>
  <a href="{% url 'institute:create_student' %}">Create Student</a>
  <a href="{% url 'institute:create_teacher' %}">Create Teacher</a>

  <p>
    <form method="POST" action="{% url 'logout' %}" style="display: inline;">
      {% csrf_token %}
      <button type="submit" style="padding: 10px 20px; background-color: #dc3545; color: white; border: none; border-radius: 5px;">
        Logout
      </button>
    </form>
  </p>

{% endblock %}
